body {
    font-family: Roboto, sans-serif;
    background: #f1f1f1;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    font-size: small;

}
.box {
    width: 900px;
    color: #000000;
    background-color: #ffffff;
    /*background-color: #58585A;
    border: 1px solid #ebebeb;*/
    padding: 1.2%;
    border-radius: 5px;
    line-height: 1.15em;
    word-wrap: break-word;
    /*margin-bottom: 12px;*/
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

}
.box_inside {
    width: auto;
    background-color: #ffffff;
    padding: 1.1%;
    border-radius: 5px;
}

h2.box, h2.box_head {
    text-align: left;
    font-family: Roboto Light, Roboto, sans-serif;
    font-size: 20px;
    color: #555555;
    margin-top: 4px;
}
button {
    font-family: Roboto, sans-serif;
    display: inline;
    background-color: #007CBE;
    color: #E6F2F9; 
    font-weight: 600;
    font-size: 1.475rem;
    text-align: center;
    padding: 0.5rem 0.875rem;
    text-decoration: none;
    /*margin-left: 0;*/
    margin-right: .5rem;
    margin-top: 0px;
    margin-bottom: .5rem;
    /*border: 1px solid #aaaaaa;*/
    border: 2px solid #007CBE;
    border-radius: 5px;
    white-space: nowrap;
    /*transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;*/
}
/*button:hover 
{
    color: #007CBE;
    background-color: #E6F2F9; 
}*/

.layout-topbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: #007CBE;
    height: 70px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}
.layout-topbar .logo {
    font-size: 20px;
    color: #ffffff;
    font-family: Roboto Light, Roboto, sans-serif;
}
.layout-topbar .logo__bold {
    font-family: Roboto Bold, Roboto, sans-serif;
    color: #ffffff;

}
.layout-topbar .logo__rtitle {
    font-size: 20px;
    color: #ffffff;
    font-family: Roboto Light, Roboto, sans-serif;
}

.layout-content {
    margin-top: 110px;
}
/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.2s, color 0.2s
    /*transition: background-color 0.4s, color 0.4s, border-color 0.4s, box-shadow 0.4s;*/

  }
  .ripple:hover {
    background: #E6F2F9 radial-gradient(circle, transparent 5%, #007CBE 1%) center/15000%;
    color:#007CBE;
  }
  .ripple:active {
    background-color: #7ea2b6 ;
    background-size: 100%;
    transition: background 0s;
    color:#E6F2F9;

  }
  
  /* Button style 
  button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
  }*/
  